
<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p style="text-align: center">
  This is the home page for the
  <a class="link" href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
  <br>
  <p >
  <%= link_to "Sign up nows" , signup_path ,:class => "signup_button round" %>
  </p>
</p>
